/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */

:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 300;
  src: url("../font/gotham_light.eot") format("embedded-opentype"), url("../font/gotham_light.woff2") format("woff2"), url("../font/gotham_light.woff") format("woff"), url("../font/gotham_light.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 350;
  src: url("../font/gotham_book.eot") format("embedded-opentype"), url("../font/gotham_book.woff2") format("woff2"), url("../font/gotham_book.woff") format("woff"), url("../font/gotham_book.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-style: italic;
  font-weight: 350;
  src: url("../font/gotham_bookitalic.eot") format("embedded-opentype"), url("../font/gotham_bookitalic.woff2") format("woff2"), url("../font/gotham_bookitalic.woff") format("woff"), url("../font/gotham_bookitalic.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 500;
  src: url("../font/gotham_medium.eot") format("embedded-opentype"), url("../font/gotham_medium.woff2") format("woff2"), url("../font/gotham_medium.woff") format("woff"), url("../font/gotham_medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-style: italic;
  font-weight: 500;
  src: url("../font/gotham_mediumitalic.eot") format("embedded-opentype"), url("../font/gotham_mediumitalic.woff2") format("woff2"), url("../font/gotham_mediumitalic.woff") format("woff"), url("../font/gotham_mediumitalic.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  src: url("../font/gotham_bold.eot") format("embedded-opentype"), url("../font/gotham_bold.woff2") format("woff2"), url("../font/gotham_bold.woff") format("woff"), url("../font/gotham_bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-style: italic;
  font-weight: 700;
  src: url("../font/gotham_bolditalic.eot") format("embedded-opentype"), url("../font/gotham_bolditalic.woff2") format("woff2"), url("../font/gotham_bolditalic.woff") format("woff"), url("../font/gotham_bolditalic.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 100;
  src: url("../font/gotham_thin.eot") format("embedded-opentype"), url("../font/gotham_thin.woff2") format("woff2"), url("../font/gotham_thin.woff") format("woff"), url("../font/gotham_thin.ttf") format("truetype");
}

@font-face {
  font-family: "icomoon";
  src: url("../font/icomoon.eot?c9civn");
  src: url("../font/icomoon.eot?c9civn#iefix") format("embedded-opentype"), url("../font/icomoon.ttf?c9civn") format("truetype"), url("../font/icomoon.woff?c9civn") format("woff"), url("../font/icomoon.svg?c9civn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin:before {
  content: "\e905";
}

.icon-location:before {
  content: "\e905";
}

.icon-map:before {
  content: "\e905";
}

.icon-marker:before {
  content: "\e905";
}

.icon-clock:before {
  content: "\e906";
}

.icon-mail:before {
  content: "\e903";
}

.icon-arrow_drop_down:before {
  content: "\e904";
}

.icon-arrow-left:before {
  content: "\e907";
}

.icon-arrow-right:before {
  content: "\e908";
}

.icon-youtube-play:before {
  content: "\e900";
}

.icon-twitter:before {
  content: "\e901";
}

.icon-facebook:before {
  content: "\e902";
}

.icon-facebook-f:before {
  content: "\e902";
}

html {
  scroll-behavior: smooth;
}

body {
  font: 18px "Gotham", sans-serif;
  background: #fafafa;
  margin: 0;
  color: #222222;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  outline: none;
}

a:focus {
  outline: none;
}

/*Container*/

.container {
  width: 100%;
  max-width: 1344px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: hidden;
}

/*Default*/

.btn-default {
  background: #eb5635;
  display: block;
  font-size: 15.11px;
  font-weight: 700;
  border-radius: 20px;
  border: 2px #eb5635 solid;
  color: #f8f8f8;
  line-height: 36px;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 32px;
  letter-spacing: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-default:hover {
  background: white;
  color: #eb5635;
}

.title-block {
  color: white;
  font-size: 42px;
  line-height: 58px;
  letter-spacing: 0.02em;
}

.title-block .title {
  font-weight: 350;
  position: relative;
}

.title-block .title::after {
  background: #eb5635;
  content: "";
  position: absolute;
  left: 5px;
  bottom: -15px;
  display: block;
  height: 4px;
  width: 100%;
  max-width: 185px;
}

.title-block .subtitle {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 25px;
}

.title-block .text {
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.015em;
}

.title-block .btn-block {
  margin-left: -3px;
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-block .btn-block .btn-default:last-child {
  background: white;
  border-color: white;
  color: #241c1f;
  margin-left: 12px;
}

.title-block .btn-block .btn-default:last-child:hover {
  background: #241c1f;
  border-color: white;
  color: white;
}

.with-arrow {
  position: relative;
}

.with-arrow::before {
  content: "\e904";
  right: 0;
  bottom: 1px;
  font-family: "icomoon";
  position: absolute;
  line-height: 1;
}

.block-top {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.block-title {
  font-size: 36px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: relative;
}

.block-title::after {
  background: #eb5635;
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 7px;
  left: 3px;
  bottom: -13px;
}

.block-text {
  justify-self: end;
  font-style: italic;
  font-weight: 350;
  font-size: 15px;
  line-height: 25px;
  max-width: 787px;
  color: #999999;
  margin-top: -2px;
}

.block-text b {
  color: #eb5635;
  font-weight: 700;
}

.header {
  background: url(../img/header-fon.jpg) no-repeat center/cover;
  padding: 375px 0 232px;
}

.header .navigation {
  background: #ffffff;
  position: absolute;
  top: 55px;
  max-width: 1026px;
  width: 94%;
  color: #2e343b;
  font-size: 15px;
  z-index: 10;
  display: none;
}

.header .navigation a {
  color: #2e343b;
}

.header .navigation nav {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 65px;
}

.header .navigation__top,
.header .navigation nav {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 40px;
  z-index: 100;
}

.header .navigation__top {
  font-weight: 350;
  line-height: 96px;
  border-bottom: #eeeeee 1px solid;
}

.header .navigation__top > div:nth-child(2) {
  border-left: #eeeeee 1px solid;
  margin-left: 60px;
}

.header .navigation__logo {
  margin-left: -10px;
}

.header .navigation__mail,
.header .navigation__country {
  position: relative;
  display: inline;
  padding-left: 57px;
  margin-left: 22px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.header .navigation__mail:hover,
.header .navigation__country:hover {
  color: #eb5635;
}

.header .navigation__mail::after,
.header .navigation__country::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  border: #eeeeee 2px solid;
  width: 42px;
  height: 42px;
  line-height: 1;
  left: 0;
  bottom: -65%;
}

.header .navigation__mail::after {
  background: url(../img/icon-mail.png) no-repeat 50% 55%;
}

.header .navigation__country {
  outline: none;
  padding-right: 23px;
}

.header .navigation__country.sweden::after {
  background: url(../img/icon-sweden.png) no-repeat 53% 50%/16px;
}

.header .navigation__country.ukraine::after {
  background: url(../img/icon-Ukraine.png) no-repeat 53% 50%/16px;
}

.header .navigation__country.poland::after {
  background: url(../img/icon-Poland.png) no-repeat 53% 50%/16px;
}

.header .navigation__country.england::after {
  background: url(../img/icon-England.png) no-repeat 53% 50%/16px;
}

.header .navigation__country.united-states::after {
  background: url(../img/icon-United_States.png) no-repeat 53% 50%/16px;
}

.header .navigation__country.with-arrow::before {
  right: 0;
}

.header .navigation__link {
  font-weight: 500;
}

.header .navigation__link a {
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  padding-right: 23px;
}

.header .navigation__link a:hover {
  color: #eb5635;
}

.header .navigation__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navigation__social a {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  color: white;
  font-size: 13px;
  position: relative;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.header .navigation__social a:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.header .navigation__social a::before {
  font-family: "icomoon";
  position: absolute;
  line-height: 1;
  top: 30%;
}

.header .navigation__social div + div {
  margin-left: 8px;
}

.header .navigation__social-facebook {
  background: #407a86;
}

.header .navigation__social-facebook::before {
  content: "\e902";
  left: 33%;
}

.header .navigation__social-twiter {
  background: #41b7cc;
}

.header .navigation__social-twiter::before {
  content: "\e901";
  left: 27%;
}

.header .navigation__social-youtube {
  background: #eb5635;
}

.header .navigation__social-youtube::before {
  content: "\e900";
  left: 24%;
}

.header .country-list-wrapper {
  position: relative;
}

.header .country-list {
  display: none;
  background: #fff;
  position: absolute;
  left: 59px;
  top: 65px;
  padding: 15px 20px;
  z-index: 1000;
  line-height: 1.5;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.header .country-list.active {
  display: block;
}

.header .country-list__item {
  white-space: nowrap;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.header .country-list__item:hover {
  color: #eb5635;
}

.header .country-list div + div {
  margin-top: 10px;
}

.header .country-list:hover {
  display: block;
}

.header .overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  display: none;
}

.header .overlay.active {
  display: block;
}

.header .megamenu {
  background: #eee;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 40px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.header .megamenu.active {
  display: grid;
}

.header .megamenu__collumn div + div {
  margin-top: 10px;
}

.header .megamenu__title {
  margin-bottom: 15px;
}

.header .megamenu__link {
  opacity: 0.7;
}

.header .megamenu a {
  display: inline-block;
}

.header .megamenu a:hover {
  color: #eb5635;
}

.header__inner {
  max-width: 586px;
  padding-left: 10px;
}

.homefront {
  background: url(../img/homefront-fon.jpg) no-repeat center/cover;
  padding: 93px 0 175px;
}

.homefront__inner {
  max-width: 584px;
  margin-left: auto;
}

.homefront__inner .btn-default:last-child {
  padding: 0 30px;
}

.homefront__inner .btn-default:last-child:hover {
  border-color: #241c1f !important;
}

.homefront__title {
  color: #686868;
}

.homefront__title::after {
  left: 2.5px !important;
  bottom: -14px !important;
}

.homefront__title a {
  font-size: 16px;
  font-weight: 350;
  line-height: 20px;
  color: #d4d4d4;
  max-width: 90px;
  display: inline-block;
  -webkit-transform: translate(1px, 5px);
  -ms-transform: translate(1px, 5px);
  transform: translate(1px, 5px);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.homefront__title a:hover {
  color: #eb5635;
}

.homefront__subtitle {
  color: #4f4f4f;
}

.homefront__text {
  color: #b1b1b1;
}

.boxes {
  letter-spacing: 0.02em;
  font-weight: 300;
  margin-top: -89px;
}

.boxes__inner {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 13px;
  padding-bottom: 10px;
}

.boxes__item-content {
  background: white;
  width: 50%;
  height: 100%;
  margin-left: auto;
  padding: 42px;
  padding-bottom: 100px;
  position: relative;
}

.drift3 .boxes__item-content {
  width: 100%;
  height: 49.9%;
  padding: 30px;
  padding-bottom: 80px;
}

.battelfied .boxes__item-content {
  background: none;
  padding-top: 64px;
}

.boxes__item.dishonored {
  background: url(../img/box-1.jpg) no-repeat center/cover;
  position: relative;
}

.boxes__item.dishonored .ios {
  position: absolute;
  left: 20px;
  bottom: 30px;
}

.boxes__item.drift3 .background {
  background: url(../img/box-2.jpg) no-repeat center/cover;
  height: 50.1%;
}

.boxes__item.battelfied {
  background: url(../img/box-3.png) no-repeat center/cover;
}

.boxes__item.battelfied .btn-default {
  background: none;
  outline: white 3px solid;
  border-color: transparent;
}

.boxes__item.battelfied .btn-default:hover {
  background: #eb5635;
  color: white;
}

.boxes__title {
  font-size: 27.56px;
  line-height: 38.5px;
  color: #4b4b4b;
  margin-top: -7px;
  margin-bottom: 13px;
}

.boxes__title b {
  font-weight: 500;
}

.battelfied .boxes__title {
  color: white;
  padding-right: 9px;
  margin-top: 21px;
}

.boxes__text {
  font-size: 16.89px;
  line-height: 22.52px;
  color: #b1b1b1;
}

.battelfied .boxes__text {
  color: white;
}

.boxes ol {
  counter-reset: myCounter;
  font-weight: 700;
  color: #eb5635;
  font-size: 18.37px;
  margin-top: 38px;
  margin-bottom: 51px;
}

.boxes li {
  position: relative;
  padding-left: 60px;
}

.boxes li + li {
  margin-top: 41px;
}

.boxes li::before {
  width: 46px;
  height: 46px;
  counter-increment: myCounter;
  content: counter(myCounter);
  color: #eb5635;
  font-weight: 700;
  font-size: 15.2px;
  border: #eb5635 2px solid;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: -13px;
}

.boxes .btn-default {
  font-size: 14.18px;
  line-height: 34px;
  padding: 0 23px;
  position: absolute;
  bottom: 42px;
  white-space: nowrap;
}

.boxes .ios {
  background: #eb5635;
  width: 95px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 16.9px;
  line-height: 22.5px;
  text-transform: uppercase;
}

.whoWeAre {
  padding: 41px 0 42px;
}

.whoWeAre__slider {
  background: #ffffff;
  margin-top: 60px;
  padding: 36px 25px;
  position: relative;
}

.whoWeAre__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 80px;
  padding: 4px;
  overflow-x: hidden;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.whoWeAre__wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  display: none;
}

.whoWeAre__wrapper.noscroll {
  overflow-x: hidden;
}

.whoWeAre__slide {
  max-width: 63px;
  min-width: 63px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.whoWeAre__slide img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 63px;
}

.whoWeAre__slide.active {
  outline: #eb5635 4.5px solid;
}

.whoWeAre__slide + .whoWeAre__slide {
  margin-left: 7px;
}

.whoWeAre__button {
  background: #eb5635;
  max-width: 63px;
  max-height: 63px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.whoWeAre__button:hover {
  background: #cb4a2d;
}

.whoWeAre__button::before {
  font: 22px "icomoon";
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.whoWeAre__button.prev {
  left: 25px;
}

.whoWeAre__button.prev::before {
  content: "\e907";
}

.whoWeAre__button.next {
  right: 25px;
}

.whoWeAre__button.next::before {
  content: "\e908";
}

.whoWeAre__button.not-active {
  background: #3a3a3a;
  cursor: not-allowed;
}

.whoWeAre__person {
  background: white;
  text-align: center;
  padding-bottom: 38px;
}

.whoWeAre__person-name {
  font-size: 21px;
  font-weight: 700;
  color: #eb5635;
}

.whoWeAre__person-job {
  font-size: 18px;
  font-weight: 350;
  font-style: italic;
  color: #999999;
}

.vacancy {
  margin-bottom: 62px;
}

.vacancy__list {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.vacancy__item {
  background: white;
  position: relative;
  letter-spacing: 0.02em;
  padding: 30px 18px 66px 73px;
}

.vacancy__name {
  font-size: 21px;
  font-weight: 700;
  color: #4b4b4b;
}

.vacancy__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 300;
  color: #b1b1b1;
  margin-top: 12px;
  margin-bottom: 8px;
}

.vacancy__address {
  font-size: 15px;
  font-weight: 350;
  margin-right: 16px;
  padding-left: 24px;
  position: relative;
}

.vacancy__address::before {
  font: 15px "icomoon";
  content: "\e905";
  position: absolute;
  color: #eb5635;
  left: 0;
  top: 5%;
}

.vacancy__time {
  font-size: 12px;
  padding-left: 25px;
  position: relative;
}

.vacancy__time::before {
  font: 15px "icomoon";
  content: "\e906";
  position: absolute;
  left: 0;
}

.vacancy__text {
  font-size: 13px;
  font-weight: 300;
  line-height: 22.5px;
  color: #b1b1b1;
}

.vacancy__btn {
  background: white;
  letter-spacing: 0;
  position: absolute;
  bottom: 20px;
  left: 68px;
  color: #eb5635;
  border: 1px #eb5635 solid;
  font-size: 12px;
  line-height: 29px;
  padding: 0 23px;
}

.vacancy__btn:hover {
  background: #eb5635;
  color: white;
}

.more {
  margin-bottom: 68px;
}

.more__wrapper {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
}

.more .block-title {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.more .block-title::after {
  display: none;
}

.more .block-title:hover {
  color: #eb5635;
}

.more .block-text {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 3px;
  font-style: normal;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.more .block-text:hover {
  color: #eb5635;
}

.more .blog__item {
  padding-left: 113px;
  position: relative;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.more .blog__item:hover .title {
  color: #eb5635;
}

.more .blog__item img {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-71%);
  -ms-transform: translateY(-71%);
  transform: translateY(-71%);
}

.more .press a {
  color: #eb5635;
  font-weight: 400;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.more .press a:hover {
  color: #cb4a2d;
}

.more .tweets a {
  color: #59adeb;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.more .tweets a:hover {
  color: #147ac3;
}

.more .tweets a.text {
  display: inline-block;
  margin-top: 30px;
  padding-bottom: 0;
  position: relative;
  padding-left: 23px;
}

.more .tweets a.text::before {
  font: 16px "icomoon";
  content: "\e901";
  position: absolute;
  left: 0;
  bottom: 4px;
}

.more__item-inner {
  background: white;
  margin-top: 17px;
  padding: 40px 30px 30px;
  letter-spacing: 0.02em;
  height: 85%;
}

.more__item-inner .title {
  font-size: 21px;
  font-weight: 700;
  line-height: 27.47px;
  color: #4b4b4b;
  margin-bottom: 12px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.more__item-inner .text {
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 350;
  color: #b1b1b1;
  padding-bottom: 20px;
}

.footer {
  background: white;
  font-size: 15px;
  color: #2e343b;
}

.footer a {
  color: #2e343b;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.footer a:hover {
  color: #eb5635;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
  font-weight: 500;
}

.footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: auto;
  margin-left: 36px;
  max-width: 800px;
  width: 100%;
}

.footer__country {
  white-space: nowrap;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer__country:hover {
  color: #eb5635;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 350;
  line-height: 74px;
  border-top: 1px #eee solid;
}

.footer__copyright-year {
  margin-left: 9px;
}

.footer__copyright-terms {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer__copyright-terms:hover {
  color: #eb5635;
}

@media (max-width: 1300px) {
  .boxes {
    letter-spacing: 0;
  }

  .boxes__item-content {
    padding: 30px;
    padding-top: 42px;
    padding-bottom: 100px;
  }

  .drift3 .boxes__item-content {
    padding-bottom: 100px;
  }

  .battelfied .boxes__title {
    padding-right: 0;
  }

  .boxes .btn-default {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 1200px) {
  .boxes__item-content {
    width: 60%;
    padding-top: 30px;
    padding-bottom: 90px;
  }

  .drift3 .boxes__item-content {
    height: 54.9%;
    padding-bottom: 90px;
  }

  .battelfied .boxes__item-content {
    padding-top: 40px;
  }

  .boxes__item.drift3 .background {
    height: 45.1%;
  }

  .boxes ol {
    margin-top: 35px;
    margin-bottom: 31px;
  }

  .boxes .btn-default {
    bottom: 30px;
    padding: 0 15px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    left: auto;
  }

  .boxes .drift3 .btn-default {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 1100px) {
  .title-block {
    font-size: 36px;
    line-height: 50px;
    max-width: 510px;
  }

  .title-block .title::after {
    bottom: -6px;
  }

  .title-block .subtitle {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .title-block .subtitle {
    margin-bottom: 10px;
  }

  .title-block .text {
    font-size: 17px;
    line-height: 22px;
  }

  .title-block .btn-block {
    margin-top: 25px;
  }

  .header {
    padding: 330px 0 150px;
  }
}

@media (max-width: 992px) {
  .btn-default {
    font-size: 14px;
    line-height: 33px;
    padding: 0 23px;
  }

  .title-block {
    font-size: 34px;
    line-height: 44px;
    max-width: 400px;
  }

  .title-block .title::after {
    max-width: 110px;
  }

  .title-block .text {
    font-size: 16px;
    line-height: 21px;
  }

  .title-block .text {
    font-size: 15px;
    line-height: 19px;
  }

  .block-top {
    grid-template-columns: 1fr;
  }

  .block-title {
    font-size: 34px;
  }

  .block-text {
    justify-self: left;
    max-width: 100%;
    margin-top: 30px;
  }

  .header {
    padding: 150px 0 100px;
  }

  .header__inner {
    padding-left: 0px;
  }

  .homefront {
    padding: 85px 0 165px;
  }

  .homefront__title a {
    font-size: 14px;
    line-height: 18px;
  }

  .boxes__inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(auto, 250px));
    gap: 15px;
  }

  .boxes__item-content {
    width: 50%;
  }

  .battelfied .boxes__item-content {
    width: 100%;
  }

  .boxes__item.dishonored {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .boxes__item.battelfied .btn-default {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .title-block {
    font-size: 30px;
    line-height: 40px;
  }

  .title-block .title::after {
    bottom: -9px;
  }

  .header {
    background-position: 30%;
    padding: 125px 0 75px;
  }

  .homefront {
    padding: 75px 0 120px;
  }

  .homefront__inner .btn-default:last-child {
    padding: 0 23px;
  }

  .homefront__title::after {
    bottom: -9px !important;
  }
}

@media (max-width: 576px) {
  .title-block {
    text-align: center;
    max-width: 100%;
    letter-spacing: 0;
  }

  .title-block .title::after {
    left: 50% !important;
    -webkit-transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
  }

  .title-block .btn-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .block-top {
    text-align: center;
  }

  .block-title {
    font-size: 32px;
  }

  .block-title::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -11px;
  }

  .block-text {
    font-size: 14px;
    line-height: 22px;
    margin-top: 21px;
  }

  .header {
    background-position: 0%;
  }

  .homefront {
    background-image: url(../img/homefront-fon.jpg);
    background-repeat: no-repeat;
    background-position: 69%;
    background-size: cover;
  }

  .homefront__title {
    margin-bottom: 40px;
  }

  .homefront__title a {
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    max-width: 100%;
    top: 142%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .boxes {
    margin-top: -60px;
  }

  .boxes__title {
    font-size: 24px;
  }

  .boxes__text {
    font-size: 15px;
  }

  .boxes ol {
    font-size: 17px;
  }

  .boxes .btn-default {
    font-size: 13px;
  }

  .whoWeAre__slider {
    margin-top: 40px;
    padding-bottom: 99px;
  }

  .whoWeAre__wrapper {
    margin: 0;
  }

  .whoWeAre__button {
    top: 115px;
  }

  .whoWeAre__button.prev {
    left: 50%;
    -webkit-transform: translateX(-125%);
    -ms-transform: translateX(-125%);
    transform: translateX(-125%);
  }

  .whoWeAre__button.next {
    right: 50%;
    -webkit-transform: translateX(125%);
    -ms-transform: translateX(125%);
    transform: translateX(125%);
  }
}

@media (max-width: 425px) {
  .btn-default {
    padding: 0 17px;
  }

  .title-block {
    font-size: 26px;
    line-height: 36px;
  }

  .title-block .btn-block .btn-default:last-child {
    margin-left: 5px;
  }

  .block-title {
    font-size: 30px;
  }

  .block-text {
    font-size: 13px;
    line-height: 20px;
  }

  .header {
    background-position: 30%;
  }

  .homefront {
    padding: 75px 0 105px;
  }

  .homefront__inner .btn-default:last-child {
    padding: 0 17px;
  }

  .boxes__inner {
    grid-template-columns: minmax(auto, 250px);
  }

  .boxes__item {
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    min-height: 400px;
  }

  .boxes__item-content {
    width: 100%;
  }

  .boxes__item.dishonored {
    grid-column-start: auto;
    grid-column-end: auto;
  }

  .boxes .btn-default {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
  }

  .whoWeAre__person-name {
    font-size: 17px;
  }

  .whoWeAre__person-job {
    font-size: 16px;
  }
}